# DON'T EVER EXPOSE - NOT EVEN TEMPORARILY - PRODUCTION KEYS OR SECRETS IN .ENV FILE. 
# FOR PRODUCTION, SET ENVIRONMENT VARIABLES MANUALLY IN THE HOSTING SERVICE.

# Sendgrid (optional)
SENDGRID_API_KEY=
SEND_ALL_TO_EMAIL=