# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.ts.*
node_modules
dist
dev-dist
out
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.turbo
.env
.env.*
!.env.example

# Cache
*.tsbuildinfo
.sentryclirc
.million
.db
.rendered
backend/openapi.cache.json

# Other
.netlify
.wrangler
frontend/stats.html
.trigger

# Cella
cella.diverged.txt
*storybook.log
storybook-static
