# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.ts.*
node_modules
dist
dev-dist
out
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.turbo
.env
.env.*
!.env.example

# Cache
*.tsbuildinfo
.sentryclirc
.million
.db
.rendered
backend/openapi.cache.json
backend/.openapi-manifest.json
frontend/vite/temp-api-gen-*
frontend/vite/temp-docs-gen-*
frontend/vite/.generate-client.lock

# Other
.netlify
.wrangler
frontend/stats.html
.trigger
.junie

# Cella
*storybook.log
storybook-static
.locales-cache
