version: '3.8'

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      no_cache: true
    restart: always
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - 4000:4000
    depends_on:
      - db
    env_file:
      - ./env/.env
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/cella

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
      no_cache: true
    restart: always
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - 3000:3000
    env_file:
      - ./env/.env

  tus:
    container_name: tus
    build:
      context: .
      dockerfile: ./tus/Dockerfile
      no_cache: true
    restart: always
    ports:
      - 1080:1080
    env_file:
      - ./env/.env

  db:
    container_name: db
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cella
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
    command:
      - "-c"
      - "wal_level=logical"

  electric:
    container_name: electric-sync-service
    image: electricsql/electric
    init: true
    env_file:
      - ./env/.env.electric.local
    ports:
      - 5133:5133
      - 65432:65432

volumes:
  postgres-data:
