.bb-feedback-button {
  z-index: 20 !important;
}

.bb-feedback-button > .bb-feedback-button-icon {
  background-color: hsl(var(--secondary));
}

.bb-feedback-button > .bb-feedback-button-icon > svg {
  fill: hsl(var(--primary));
  color: hsl(var(--primary));
}

.bb-feedback-button .bb-logo-logo--default path {
  fill: currentColor;
}
