.bn-container.bn-shadcn.dark {
  --background: 240 10% 9%;
  --foreground: 0 0% 95%;
  --card: 240 10% 14%;
  --card-foreground: 0 0% 95%;
  --popover: 240 10% 9%;
  --popover-foreground: 0 0% 95%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 16%;
  --secondary: 240 3.7% 15%;
  --secondary-foreground: 0 0% 95%;
  --muted: 240 3.7% 25%;
  --muted-foreground: 240 5% 84.9%;
  --accent: 240 3.7% 25%;
  --accent-foreground: 0 0% 95%;
  --destructive: 0 62.8% 50%;
  --destructive-foreground: 0 0% 95%;
  --border: 240 3.7% 20%;
  --input: 240 3.7% 25%;
  --ring: 240 4.9% 83.9%;
  --success: 120 100% 40%;
}
p.bn-inline-content{
  font-size: 0.888rem;
  line-height: 1.3;
  min-height: 1.3rem;
  padding: 0;
}

.bn-shadcn .bn-block-outer, .bn-shadcn .bn-default-styles {
  font-size: 0.888rem;
  line-height: 1.3;
}

.bn-container.bn-shadcn a {
  text-decoration: underline;
}

.bn-shadcn .bn-editor {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  padding: 0px !important;
  background: transparent !important;
  height: 100%;
}

.slash-menu {
  z-index: 9999;
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-height: 100%;
  overflow: auto;
  padding: 0.25rem;
  top: 0.25rem;
}

.slash-menu-item {
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.888rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.slash-menu-item-badge {
  font-size: 12px;
  font-weight: 200;
  align-items: center;
  color: hsl(var(--muted-foreground));
  display: flex;
  padding: 2px 8px;
}

.slash-menu-separator {
  border: 0.5px solid hsl(var(--border));
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.slash-menu-item:hover {
  background-color: hsl(var(--accent) / .5);
}

.slash-menu-item.selected {
  background-color: hsl(var(--accent));
}