.glow-button:before {
  content: "";
  display: block;
  position: absolute;
  top: -0.05rem;
  left: -0.05rem;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -2;
  border-radius: 100px;
  background: linear-gradient(45deg, rgba(151, 53, 255, 1) -10%, rgba(251, 204, 38, 1) 60%, rgba(210, 35, 82, 1) 100%);
}

.glow-button:after {
  content: "";
  display: block;
  position: absolute;
  top: -0.05rem;
  left: -0.05rem;
  filter: blur(8px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -2;
  border-radius: 100px;
  background: linear-gradient(45deg, rgba(151, 53, 255, 1) -10%, rgba(251, 204, 38, 1) 60%, rgba(210, 35, 82, 1) 100%);
}

button.glow-button:after {
  filter: blur(4px) opacity(0.5);
}

button.glow-button:active::after {
  position: absolute;
  top: 0px;
  left: 0px;
  filter: none;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background: hsla(var(--background));
}
