@import "tailwindcss";
@import "./gradients.css" layer(base); /* Custom gradients that are not easy to build using tailwind */
@import "../modules/common/blocknote/styles.css" layer(base);

@config "../../tailwind.config.ts";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  @font-face {
    font-family: "Open Sans";
    src:
      local("Open Sans Light"),
      local("OpenSans-Light"),
      url(/static/fonts/OpenSans-Light.woff2) format("woff2"),
      url(/static/fonts/OpenSans-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Open Sans";
    src:
      local("Open Sans Regular"),
      local("OpenSans-Regular"),
      url(/static/fonts/OpenSans-Regular.woff2) format("woff2"),
      url(/static/fonts/OpenSans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* REMARK: 500 weight somehow causes a flicker in resize  */
  @font-face {
    font-family: "Open Sans";
    src:
      local("Open Sans Medium"),
      local("OpenSans-Medium"),
      url(/static/fonts/OpenSans-Medium.woff2) format("woff2"),
      url(/static/fonts/OpenSans-Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Open Sans";
    src:
      local("Open Sans Semibold"),
      local("OpenSans-Semibold"),
      url(/static/fonts/OpenSans-SemiBold.woff2) format("woff2"),
      url(/static/fonts/OpenSans-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Open Sans";
    src:
      local("Open Sans Bold"),
      local("OpenSans-Bold"),
      url(/static/fonts/OpenSans-Bold.woff2) format("woff2"),
      url(/static/fonts/OpenSans-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
}

@utility submenu-section {
  &:before {
    border-left: 2px dotted hsl(var(--foreground));
    content: "";
    display: block;
    position: absolute;
    margin-top: 0.6rem;
    margin-left: 1.7rem;
    opacity: 0.5;
    z-index: 0;
    width: 0.05rem;
    height: calc(100% - 1.5rem);
  }
}

@layer components {
  .focus-effect {
    @apply focus-visible:outline-none sm:focus-visible:ring-2 focus-visible:ring-ring focus-visible:shadow-none focus-visible:ring-offset-2 focus-visible:ring-offset-background;
  }
}

@layer base {
  /* Theme tokens */
  :root,
  .bn-container.bn-shadcn {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2067 0.01 285.49);
    --card: oklch(0.987 0.0013 285.76);
    --card-foreground: oklch(0.2067 0.01 285.49);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1155 0 0);
    --primary: oklch(0.2061 0.006 285.56);
    --primary-foreground: oklch(0.9627 0 0);
    --secondary: oklch(0.9575 0.0044 285.76);
    --secondary-foreground: oklch(0.3138 0.0102 285.63);
    --muted: oklch(0.9575 0.0044 285.76);
    --muted-foreground: oklch(0.4571 0.0112 285.63);
    --accent: oklch(0.9575 0.0044 285.76);
    --accent-foreground: oklch(0.2067 0.01 285.49);
    --destructive: oklch(0.5137 0.2082 29.23);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.9372 0.004 285.71);
    --input: oklch(0.9483 0.0032 285.75);
    --ring: oklch(0.2067 0.01 285.49);
    --radius: 0.5rem;
    --success: oklch(0.5917 0.2014 142.5);

    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark,
  .bn-container.bn-shadcn.dark {
    --background: oklch(0.1963 0.0092 285.53);
    --foreground: oklch(0.9627 0 0);
    --card: oklch(0.232 0.0095 285.56);
    --card-foreground: oklch(0.9627 0 0);
    --popover: oklch(0.1963 0.0092 285.53);
    --popover-foreground: oklch(0.9627 0 0);
    --primary: oklch(0.9851 0 0);
    --primary-foreground: oklch(0.3138 0.0102 285.63);
    --secondary: oklch(0.3138 0.0102 285.63);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.3138 0.0102 285.63);
    --muted-foreground: oklch(0.8089 0.0128 285.86);
    --accent: oklch(0.3138 0.0102 285.63);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.5137 0.2082 29.23);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.3138 0.0102 285.63);
    --input: oklch(0.3138 0.0102 285.63);
    --ring: oklch(0.86 0.0096 285.72);
    --success: oklch(0.5917 0.2014 142.5);

    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
  }

  .theme-base.light {
    --primary-foreground: oklch(0.9851 0.0176 27.65);
    --secondary: oklch(0.9676 0.0046 285.74);
    --secondary-foreground: oklch(0.2061 0.006 285.56);
    --accent: oklch(0.9668 0.0058 285.71);
    --accent-foreground: oklch(0.2061 0.006 285.56);
  }

  .theme-base.dark {
    --primary-foreground: oklch(0.9851 0.0176 27.65);
    --secondary: oklch(0.342 0.009 285.65);
    --secondary-foreground: oklch(0.9851 0 0);
    --accent: oklch(0.2484 0.0058 30.37);
    --accent-foreground: oklch(0.9851 0 0);
    --muted-foreground: oklch(0.5996 0.0219 285.72);
  }
}

@layer base {
  html {
    @apply font-sans overscroll-none;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-full overscroll-none;
  }

  .container {
    @apply max-w-400 w-full px-3 sm:px-4 mx-auto;
  }

  /* For small screens we enlarge all elements by using rem everywhere, and then simply increase font-size */
  @media (max-width: 639px) {
    html {
      font-size: 18px;
    }
  }

  /* Disable clicking scrolbar tracks to change position */
  .scrollbar-track {
    pointer-events: none;
  }

  .scrollbar-track .scrollbar-thumb {
    pointer-events: auto;
  }

  /* Overwrite elements for focus view when table is present in it  */
  body.focus-view-table,
  .focus-view-table .focus-view-container {
    overflow: hidden;
    height: 100vh !important;
  }

  .focus-view-table .focus-view-scroll {
    overflow-y: auto;
    margin-bottom: 0 !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    width: 100vw !important;
  }

  /* Hide elements when focus view is active */
  .focus-view #app-content-inner *:not(.focus-view-container, .focus-view-container *) {
    display: none !important;
  }

  /* Hide devtools */
  .tsqd-open-btn-container,
  .TanStackRouterDevtools > button {
    display: none !important;
  }

  /* Read-only mode styles */
  .read-only-mode .read-only-restrict-hide {
    display: none !important;
  }

  .read-only-mode .read-only-restrict-disabled {
    opacity: 0.6 !important;
    pointer-events: none !important;
  }
}
