/* Custom gradients that are not easy to build using tailwind */
@import "./gradients.css";
@import "./modules/common/blocknote/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .bn-container.bn-shadcn,
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --background: 0 0% 100%;
    --foreground: 240 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 0%;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 95%;
    --secondary: 240 5% 92%;
    --secondary-foreground: 240 6% 20%;
    --muted: 240 5% 77.2%;
    --muted-foreground: 240 4% 40%;
    --accent: 240 5% 92%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 85% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 92%;
    --input: 240 6% 92%;
    --ring: 240 6% 10%;
    --radius: 0.5rem;
    --success: 120 100% 30%;
  }

  .bn-container.bn-shadcn.dark,
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --background: 240 10% 9%;
    --foreground: 0 0% 95%;
    --card: 240 10% 14%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 16%;
    --secondary: 240 3.7% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 240 3.7% 25%;
    --muted-foreground: 240 5% 84.9%;
    --accent: 240 3.7% 25%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 95%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 25%;
    --ring: 240 4.9% 83.9%;
    --success: 120 100% 40%;
  }

  .theme-base.light {
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
  }

  .theme-base.dark {
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
  }
}

/* Some tweak on tailwind here */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-full;
  }

  /* For small screens we enlarge all elements by using rem everywhere, and then simply increase font-size */
  @media (max-width: 639px) {
    html {
      font-size: 18px;
    }

    #main-app-root {
      margin: 0;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 4rem);
      overflow: hidden;
      position: relative;
    }

    #main-app-content {
      flex: 1;
      height: 100%;
      overflow-y: auto;
    }
  }

  #root {
    @apply flex flex-col min-h-full;
  }
}

/* Override tailwind here */
/* @layer components {} */
