@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% %;
    --primary: 240 6% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 95%;
    --secondary-foreground: 240 6% 20%;
    --muted: 240 5% 77.2%;
    --muted-foreground: 240 4% 40%;
    --accent: 240 5% 95%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 85% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 92%;
    --input: 240 6% 92%;
    --ring: 240 6% 10%;
    --radius: 0.5rem;
    --success: 120 100% 30%;
  }

  .dark {
    --background: 240 10% 9%;
    --foreground: 0 0% 95%;
    --card: 240 10% 14%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 16%;
    --secondary: 240 3.7% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 240 3.7% 25%;
    --muted-foreground: 240 5% 84.9%;
    --accent: 240 3.7% 25%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 95%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 25%;
    --ring: 240 4.9% 83.9%;
    --success: 120 100% 40%;
  }

  .theme-rose.light {
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
  }

  .theme-rose.dark {
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15%;
    --secondary-foreground: 0 0% 98%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-full;
  }

  @media (max-width: 639px) {
    html {
      font-size: 18px;
    }

    #app-root {
      margin: 0;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 4rem);
      overflow: hidden;
      position: relative;
    }
    
    #app-content {
      flex: 1;
      height: 100%;
      overflow-y: auto;
    }
  }

  #root {
    @apply flex flex-col min-h-full;
  }
}

@layer components {
  .menu-item-sub:before {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: 27px;
    opacity: .5;
    z-index: 0;
    width: 1px;
    height: 14px;
    background-color: hsl(var(--foreground));
  }

  .rich-gradient:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-image:
      linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(255, 199, 147, 0.87)),
      linear-gradient(to top left, rgba(0, 0, 0, 0), rgb(57, 160, 251)),
      linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgb(195, 120, 241)),
      linear-gradient(to top right, rgba(0, 0, 0, 0), rgb(2, 155, 129));
  }

  .dark .rich-gradient:after {
    opacity: .8;
    background-image:
      linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(60, 0, 59, 1)),
      linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(15, 6, 86, 1)),
      linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(184, 144, 0, 1)),
      linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(11, 144, 122, 1));
  }

  .rich-gradient:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: radial-gradient(circle 90vh at 40% 40%, hsla(var(--background)), rgba(255, 255, 255, 0.5));
  }

  .dark .rich-gradient:before {
    opacity: .8;
    background-image: radial-gradient(circle 90vh at 40% 40%, hsla(var(--background)), rgba(255, 255, 255, 0));
  }

  .rich-gradient.dark-gradient:after {
    opacity: 1;
    background: rgba(0, 0, 0, 1);
    background-image:
      linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.2)),
      linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(49, 49, 230, 0.3)),
      linear-gradient(to bottom right, rgba(0, 0, 0, 0), rgba(156, 39, 228, 0.2)),
      linear-gradient(to top right, rgba(0, 0, 0, 0), rgba(254, 185, 24, 0.3));
  }

  .dark .dark-gradient:after {
    opacity: .2;
  }

  .rich-gradient.dark-gradient:before {
    background-image: radial-gradient(circle 120vh at 40% 120%, rgba(59, 17, 37, 0.6), rgba(255, 255, 255, 0));
  }
}

.outline-glow-button:before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  opacity: .5;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -2;
  border-radius: 100px;
  background: linear-gradient(45deg, rgba(151, 53, 255, 1) -10%, rgba(251, 204, 38, 1) 60%, rgba(210, 35, 82, 1) 100%);
}

.outline-glow-button:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  filter: blur(6px);
  opacity: .4;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -2;
  border-radius: 100px;
  background: linear-gradient(45deg, rgba(151, 53, 255, 1) -10%, rgba(251, 204, 38, 1) 60%, rgba(210, 35, 82, 1) 100%);
}

.outline-glow-button:hover::before {
  opacity: 1;
}

.outline-glow-button:hover::after {
  opacity: .8;
}

.outline-glow-button:active::after {
  position: absolute;
  top: 0px;
  left: 0px;
  filter: none;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100px;
  background: hsla(var(--background));
}

.fill-grid {
  block-size: 100%;
}

/* Hide non-focus-view elements */
.focus-view #main-app-content *:not(.focus-view-container, .focus-view-container *) {
  display: none;
}