.grid.rdg-wrapper > .rdg {
  --rdg-color: var(--foreground);
  --rdg-border-color: var(--border);
  --rdg-summary-border-color: var(--border);
  --rdg-background-color: var(--background);
  --rdg-header-background-color: var(--background);
  --rdg-header-draggable-background-color: var(--accent);
  --rdg-row-hover-background-color: oklch(from var(--accent) l c h / 0.2);
  --rdg-row-selected-background-color: oklch(from var(--accent) l c h / 0.4);
  --rdg-row-selected-hover-background-color: oklch(from var(--accent) l c h / 0.6);
  --rdg-checkbox-color: var(--muted-foreground);
  --rdg-checkbox-focus-color: var(--ring);
  --rdg-checkbox-disabled-border-color: var(--muted-foreground);
  --rdg-checkbox-disabled-background-color: var(--muted);
  --rdg-font-size: 0.888rem;
  --rdg-selection-color: var(--ring);

  border: none;
  grid-template-rows: none !important;
}

.rdg-readonly .grid.rdg-wrapper > .rdg {
  --rdg-background-color: none;
  --rdg-header-background-color: none;
  --rdg-header-draggable-background-color: none;
  --rdg-row-hover-background-color: none;
  --rdg-row-selected-background-color: none;
  --rdg-row-selected-hover-background-color: none;
}

.rdg-cell:has(button[role="checkbox"]) {
  outline: none !important;
}

.rdg-cell[role="columnheader"] {
  background: none !important;
}

@media (max-width: 480px) {
  .rdg-cell[aria-selected="true"] {
    outline: none !important;
    background: none !important;
  }
}

.rdg-cell {
  display: flex;
  align-items: center;
  min-height: var(--rdg-header-row-height);
  border-inline-end: none;
  border-block-end: none;
}

.rdg-cell:not([role="columnheader"]) {
  border-top: 0.05rem solid var(--rdg-border-color);
}

.rdg-cell[role="columnheader"] {
  color: oklch(from var(--foreground) l c h / 0.7);
  font-weight: 600;
}

.rdg-hide-header .rdg-cell[role="columnheader"] {
  display: none;
}

.rdg-cell.rdg-expand-cell {
  border-top-color: transparent;
}

.rdg-cell[aria-selected="true"]:not([aria-readonly="true"]) {
  background: var(--rdg-row-selected-hover-background-color);
}

.rdg-cell > input {
  border: none;
  box-shadow: none;
  background: none;
}

@media (min-width: 640px) {
  .rdg-cell:not([role="columnheader"]):not([aria-readonly="true"]):hover:after {
    content: "✎";
    display: block;
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
  }
}

.rdg-readonly .rdg-cell[aria-selected="true"] {
  outline: none !important;
  background: none !important;
}

.rdg-cell-resizable::after {
  content: "";
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  z-index: -1;
  right: 0;
  pointer-events: none;
  border-right: 2px solid var(--accent);
}
