.grid.rdg-wrapper > .rdg {
  --rdg-color: hsl(var(--foreground));
  --rdg-border-color: hsl(var(--border));
  --rdg-summary-border-color: hsl(var(--border));
  --rdg-background-color: hsl(var(--background));
  --rdg-header-background-color: hsl(var(--background));
  --rdg-header-draggable-background-color: hsl(var(--accent));
  --rdg-row-hover-background-color: hsla(var(--accent) / 0.2);
  --rdg-row-selected-background-color: hsla(var(--accent) / 0.4);
  --rdg-row-selected-hover-background-color: hsla(var(--accent) / 0.6);
  --rdg-checkbox-color: hsl(var(--muted-foreground));
  --rdg-checkbox-focus-color: hsl(var(--ring));
  --rdg-checkbox-disabled-border-color: hsl(var(--muted-foreground));
  --rdg-checkbox-disabled-background-color: hsl(var(--muted));

  --rdg-selection-color: hsl(var(--ring));

  grid-template-rows: none !important;
}

@media (max-width: 480px) {
  .rdg-cell[aria-selected="true"] {
    outline: none !important;
  }
}

.rdg-cell {
  display: flex;
  align-items: center;
  min-height: var(--rdg-header-row-height);
}

.rdg-cell:not([role="columnheader"]) {
  border-top: .07rem solid var(--rdg-border-color);
}

.rdg-cell.rdg-expand-cell {
  border-top-color: transparent;
}
